.awcache/
.github/
.nyc_output/

config/
deploy/
node_modules/
out/coverage/
out/coverage-*
out/docs/
out/*.db
out/*.html
out/*.json
out/test-*
scripts/
src/
test/
vendor/

.codeclimate.yml
.gitlab-ci.yml
.gitmodules
.mdlrc

Dockerfile
licensed.yml
Makefile
tsconfig.json
yarn-*
