---
---

@import "{{ site.theme }}";

.wrapper {
  max-width: 1600px;
}

section {
  max-width: 1600px;
}

p > code, pre {
  background: rgba(0, 0, 0, 0.2);
  border: inset 1px black;
  box-shadow: none;
}